* {
  box-sizing: border-box;
}
*:focus {
  outline: solid 0.2rem #00f;
  outline-offset: 0.2rem;
}
a:hover {
  background-color: #ccc;
}
a:active {
  color: #fff;
  background-color: #00f;
}
body {
  margin: 0 5% auto 5%;
  font-size: 1.25rem;
  font-family: serif;
  background-color: #f3f4f2;
}
body.card {
  font-size: 2.5rem;
}
body.cardlet {
  font-size: 1.5rem;
}
code {
  font-family: sans-serif;
  color: #191610;
}
footer {
  margin-top: 3rem;
  border-top: 1px solid black;
}
p.date {
  margin-bottom: 0;
}
p.home {
  margin-left: -1rem;
  font-size: 0.75em;
}
p.moddate {
  margin-top: 0;
}
p.summary {
  font-weight: 700;
  font-style: italic;
}
q {
  quotes: '“' '”';
}
q:after {
  content: close-quote;
}
q:before {
  content: open-quote;
}
ul.refs > li > a {
  font-weight: 600;
}
